
.grunde{
display: flex;
flex-direction: column;
align-items: center;
}

.h2Farve{
    color: #EA6655
    ;
}
.tekstigrunde{
    margin: 50px;
}

.ikoner{
    width: 10vh;
    margin-left:auto;
    margin-right:auto   
}

.grunde2{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.teksten{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Farvepåbaggrund{
background-color: #1E3346;
margin: 50px;
}
.kunde{
display: flex;
flex-direction: column;
align-items: center;
}

.billedeafkunde{
    height: 35vh;
    width: 35vh;
    border-radius: 100%;
}

.kundetekst{
    color: #ffffff;
    text-align: left;
    margin-left:30px ;
}
.bold{
    font-weight: bold;
}


/* Nu kommer ipad version*/
@media only screen and (min-width:650px) {
.grunde2{
    flex-direction: row;
    
}
/* Nu kommer web*/
@media only screen and (min-width:900px){    
    .grunde2{
        flex-direction: row;
    }
}