*{
margin: 0;
padding: 0;
font-family: Montserrat;

}

body{
background-color: #F2F2F2;


}

nav{
display: flex;
align-items: center;
height: 80px;
background-color: #173448;


}

.logo{
padding-left: 25px;
height: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
main {
    margin: 20px 10px;
}

section {
    margin: 30px 10px;
}

.white {
    color: white;
}

.orange {
    color: #E75C54;
}

.red {
    color: #E75C54;
}

.gray {
    color: #A3A4AC;
}

.main-btn {
    font-size: 15px;
    font-weight: bold;
    background-color: #E75C54;
    color: white;
    border: none;
    width: 150px;
    margin: 10px 0;
    padding: 15px;
  }

.white-btn {
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    color: #173448;
    border: solid 2px;
    width: 150px;
    margin: 10px 0;
    padding: 15px;
}

  .margin-buttom {
    margin-bottom: 20px;
}

/* NAVIGATION, NAVIGATION NAVIGATION NAVIGATION NAVIGATION NAVIGATION NAVIGATION NAVIGATION NAVIGATION NAVIGATION NAVIGATION*/

.sectionbanner{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
width: auto;
background-image: url("billeder/forside-banner.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
padding: 20px 10px 0 10px;
}

.sectionbanner img{
max-width: 100%;
height: 300px;
}

.forside-indhold {
    margin-bottom: 20px;
}


.kontorcase2{
    height: 500px;
    width: 100%;
}

.citat{
margin-top: 50px;
margin-right: 10px;
margin-left: 10px;
}

.citathenrik{
font-weight: bold;
margin-top: 25px;
text-align: center;
}


.linje{
    width: 50px;
    height: 2px;
    background-color: #173448;
    margin: 0 auto;
    margin-top: 50px;
}


.casescontainer{
margin-top: 50px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.casescontainer img{
    height: 300px;
    width: 350px;
}

.casescontainer img:hover{
background-color: black;
}

.casesbilleder{
padding-bottom: 20px;
}


.casesknap{
border-radius: 1px;
border: 2px solid #173448;
background-color: #fff;
padding: 10px 40px 10px 40px;
font-weight: bold;
margin-top: 25px;
}



footer{
height: 450px;
background-color: #E75C54;
}

footer p{
color: #fff;
}

footer h2{
color: #fff;
}
    
.footerindhold{
display: flex;
flex-direction: column;
}

.footerindhold p{
margin: 10px;
}

.footerindhold h2 {
margin-bottom: 25px;
margin-top: 25px;
}



.grunde{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    }
    
    .h2Farve{
        color: #EA6655
        ;
    }
    .tekstigrunde{
        margin: 50px;
    }
    
    .ikoner{
        width: 10vh;
        margin-left:auto;
        margin-right:auto;   
        object-fit: contain;
        mix-blend-mode: color-burn;
    }
    
    .grunde2{
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }

    .grunde2-indhold{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


    }
    
    .teksten{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    .Farvepåbaggrund{
    background-color: #1E3346;
    margin: 50px;
    }
    .kunde{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    
    .kundetekst{
        color: #ffffff;
        text-align: left;
        margin-left:30px ;
    }
    .bold{
        font-weight: bold;
    }


/* Katalog/* Katalog/* Katalog/* Katalog/* Katalog/* Katalog/* Katalog/* Katalog/* Katalog/* Katalog/* Katalog/* Katalog/* Katalog*/
.katalogbaggrund{
background-image: url("billeder/kontor.jpeg"); 
background-position: center;
height: 500px;
}

.katalogbaggrund h1{
display: flex;
justify-content: center;
font-size: 40px;
padding-top: 200px;
color: #E75C54;
}

.casescontainer-katalog{
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;
}

.casesinformation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    height: 300px;
    width: 100%;
    background-color: #173448;
    margin-top: 50px;
}

.casesinformation h3{
color:#E75C54;
margin-bottom: 20px;
}

.casesinformation p{
color: #fff;   
}

.katalog-section{
height: 1700px;
}

.casesoverordnet{
margin-top: 50px;
}

.katalog-text {
    padding: 20px;
}

.katalogpil {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 50px;
}

.se-mere-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;

}


/*Cases/*Cases/*Cases/*Cases/*Cases/*Cases/*Cases/*Cases/*Cases/*Cases/*Cases/*Cases/*Cases/*Cases/*Cases/*Cases/*Cases/*Cases/*Cases/*Cases/*Cases/*Cases/*Cases/*Cases/*Cases/*Cases/*Cases/*Cases/*Cases/*Cases*/

.section-casesoverksrift{
background-image: url(billeder/kontor.jpeg);
background-position: center;
height: 500px;
}

.section-cases h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding-top: 200px;
    color: #E75C54;
}

.section-cases{
height: 1500px;
}

.enkeltecases{
margin-top: 25px;
display: flex;
flex-direction: column;
}

.enkeltecases-reverse{
    margin-top: 25px;
    display: flex;
    flex-direction:column-reverse;
}

.cases-text {
    background-color: #E75C54;
    padding: 20px;
}

.casescontainer img {
    width: 100%;
    object-fit: cover;
}

/* KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT  */

.header-contact {
    padding: 0 10px;
    display: flex;
    background-image: url("billeder/kontor.jpeg");
    background-size: cover;
    background-position: bottom;
    max-width: 100%;
    height: 200px;
}

    .header-info {
        display: flex;
        align-items: center;

    }

        .contact-img {
            margin-right: 10px;
            width: 130px;
            border-radius: 100%;
            border: solid black;
        }

    .line {
        width: 120px;
        height: 2px;
        background-color: #173448;
        margin-bottom: 20px;
    }

.calender-month {
    background-color: #173448;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.calendar {
    margin: 20px auto;
}
  
  .month {
    text-align: center;
    margin-bottom: 10px;
  }
  
  table {
    background-color: #173448;
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  th {
    background-color:#173448;
    color: #E75C54;
  }
  
  td {
    cursor: pointer;
  }
  
  td:hover {
    background-color:#E75C54;
    border-radius: 100%;
  }

  .calendar-btn {
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    padding: 15px;
    width: 150px;
    margin: 10px 10px 10px 0px;
    border-color: #173448;
    border: solid 2px;
  }

  /* PRODUKT PRODUKT PRODUKT PRODUKT PRODUKT PRODUKT PRODUKT PRODUKT PRODUKT PRODUKT PRODUKT PRODUKT PRODUKT PRODUKT PRODUKT */

.header-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    display: flex;
    background-image: url("billeder/kontor.jpeg");
    background-size: cover;
    background-position: bottom;
    max-width: 100%;
    height: 200px;
}

.pris-regner {
    background-color: #173448;
    padding: 20px 15px;
    margin: 20px 0;
    text-align: center;
}

.slider-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.slider {
    display: flex;
    width: 200px;
    height: 5px;
    background-color: #ccc;
    border-radius: 5px;
    margin: 0 10px;
  }

  .slider-thumb {
    width: 20px;
    height: 20px;
    background-color: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    top: -8px;
  }

  #value1 {
    font-size: 16px;
    color: white;
  }

  #value2 {
    font-size: 25px;
    font-weight: bold;
    color: white;
  }

.pris {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.output {
    display: flex;
    justify-content: center;
}

/*om om om om om om om om om om om om om om om om om om om om om om om om om om om om om om om om om om om om om om om om om om om om om om om om om om */
.h2omos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    }
    
    .linjeomos{
        width: 200px;
        height: 2px;
        background-color: #173448;
    }
    
    .pomos{
        display: flex;
        flex-direction: row;
        text-align: left;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .HRHenrik {
        width: 100%;
        height: 40vh;
        display: flex;
        object-fit: cover;
        margin: auto;
        margin: 40px 0;
    }
    
    .ikonomos {
        width: 30vh;
        height: 30vh;
        display: flex;
        margin: auto;  
    }

    .indholdomos {
        text-align: left;
        padding: 20px 10px;
    }

    ul {
        list-style: none;
    }

    .kompetancer {
        margin-top: 40px;
    }
    
    .mål {
        margin: 40px 0;
    } 


    /* TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET   */
    @media only screen and (min-width: 600px) {

        section {
            margin: 50px 60px 50px 60px;
        }

        .citat{
         margin-top: 50px;
        padding-right: 100px;
         padding-left: 100px;
         }
        
        .casescontainer{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        }

        .casescontainer img{
        height: 300px;
        width: 100%;   
        }
    
        .grunde-overskrift{
        text-align: center;



        }
        .grunde2{
            flex-direction: row; 
        }

     }


     /* DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP */
    @media only screen and (min-width: 900px) {
        
        section {
            margin: 50px 100px 50px 100px;
        }

        h1 {
            font-size: 80px;
        }

        .citat {
        margin-top: 50px;
        padding-right: 300px;
        padding-left: 300px;
        }
            
        .casescontainer{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        }

        .casescontainer img {
        height: 400px;
        width: 450px;  
        }

        .grunde-overskrift{
        text-align: center;
        

        }

        .grunde2-overordnet{
        display: flex;
        flex-direction: row;

        }
        
        footer{
        height: 250px;
        }
        
        .footerindhold{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        }
        
        .ommigtekst{
        width: 50%;
        }
            
        .footeroverordnet{
        margin-left: 50px;
        margin-right: 50px;
        }
    

    /* KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT  */

    .main-contact {
        margin-bottom: 100px;
    }

    .header-contact {
        height: 400px;
    }

        .contact-img {
            height: 300px;
            width: 300px;
        }

    .contact-info {
        width: 850px;
    }

    .calendar-wrap {
        display: flex;
    }

    .calendar {
        width: 100%;
    }

    .time-slot-picker {
        padding-left: 20px;
        padding-top: 10px;
    }

/* PRODUKT PRODUKT PRODUKT PRODUKT PRODUKT PRODUKT PRODUKT PRODUKT PRODUKT PRODUKT PRODUKT PRODUKT   */

.header-main {
    height: 400px;
}

 main {
    display: flex;
    padding: 50px 100px 0 100px
 }

 .ydelse-info {
    margin-right: 80px;
 }

 .pris-regner {
    width: 500px;
 }

/* OM OM OM OM OM OM OM OM OM OM OM OM OM OM OM OM OM OM OM OM OM OM OM OM OM OM OM OM OM OM OM OM OM OM */

.omhenrik {
    display: flex;
}

.kompetancer {
    display: flex;
}

.om-heading-wrap {
    margin-right: 100px;
}

.om-os {
    display: flex;
    justify-content: space-between;
}

.HRHenrik {
    width: 20vh;
    height: 20vh;
    margin: 0 0 0 40px;
    
    border-radius: 100%;
}

/* KATALOG KATALOG KATALOG KATALOG KATALOG KATALOG KATALOG KATALOG KATALOG KATALOG KATALOG KATALOG KATALOG KATALOG  */

.casesinformation {
    width: 47%;
}

.casescontainer-katalog {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.se-mere-div {
    width: 47%;
}

/* CASES CASES CASES CASES CASES CASES CASES CASES CASES CASES CASES CASES CASES CASES CASES CASES CASES CASES CASES CASES CASES  */

.enkeltecases {
    margin-top: 50px;
    flex-direction: row;
    align-items: center;
}

.enkeltecases-reverse {
    margin-top: 50px;
    flex-direction: row;
    align-items: center;
}

.cases-text {
    height: 400px;
    background-color: #E75C54;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
}

}
    