*{
margin: 0;
padding: 0;
font-family: Montserrat;

}

body{
background-color: #F2F2F2;


}

nav{
height: 80px;
background-color: #173448;

}

.logo{
padding-left: 25px;
padding-top: 25px;


}

.sectionbanner{
height: 500px;
width: 100%;
background-image: url("billeder/forsidehenrik.png");
background-repeat: no-repeat;
background-size: cover;
background-position: right center;

}
.sectionbanner img{
height: 400px;
max-width: 100%;

}

.sectionbanner h1{
font-size: 30px;
padding-top: 20px;
padding-left: 10px;


    
}

.kontorcase2{
    height: 100px;
}

.citat{
margin-top: 50px;
margin-right: 10px;
margin-left: 10px;
}

.citathenrik{
font-weight: bold;
margin-top: 25px;
text-align: center;



}


.linje{
    width: 50px;
    height: 2px;
    background-color: #173448;
    margin: 0 auto;
    margin-top: 50px;

}


.casescontainer{
margin-top: 50px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;


}

.casescontainer img{
    height: 300px;
    width: 350px;

}

.casesbilleder{
padding-bottom: 20px;

}


.casesknap{
border-radius: 1px;
border: 2px solid #173448;
background-color: #fff;
padding: 10px 40px 10px 40px;
font-weight: bold;
margin-top: 25px;

}

.casescontainer p{
color: #EA6655;
font-weight: bold;


}



footer{
height: 450px;
background-color: #E75C54;
    }

footer p{
color: #fff;
    
    }
    
    footer h2{
color: #fff;
        
        }
    
.footerindhold{
display: flex;
flex-direction: column;
    }

.footerindhold p{
margin: 10px;
}

.footerindhold h2 {
margin-bottom: 25px;
margin-top: 25px;
       
        
        
        
        }

@media only screen and (min-width: 600px) {
    .citat{
     margin-top: 50px;
    padding-right: 100px;
     padding-left: 100px;
     }
    
.casescontainer{
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
    }
.casescontainer img{
height: 300px;
width: 350px;

    
}

@media only screen and (min-width: 1024px) {
.citat{
margin-top: 50px;
padding-right: 300px;
padding-left: 300px;
     }
    
.casescontainer{
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
margin-left: 50px;
margin-right: 50px;
    }
.casescontainer img{
height: 400px;
width: 450px;

    
}

footer{
height: 250px;


}

.footerindhold{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

    
        }

.ommigtekst{
width: 50%;
}
    


.footeroverordnet{
margin-left: 50px;
margin-right: 50px;

}


}




.grunde{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    }
    
    .h2Farve{
        color: #EA6655
        ;
    }
    .tekstigrunde{
        margin: 50px;
    }
    
    .ikoner{
        width: 10vh;
        margin-left:auto;
        margin-right:auto;   
        object-fit: contain;
        mix-blend-mode: color-burn;
    }
    
    .grunde2{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    .teksten{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    .Farvepåbaggrund{
    background-color: #1E3346;
    margin: 50px;
    }
    .kunde{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    
    .kundetekst{
        color: #ffffff;
        text-align: left;
        margin-left:30px ;
    }
    .bold{
        font-weight: bold;
    }
    
    /* Nu kommer ipad version*/
    @media only screen and (min-width:650px) {
    .grunde2{
        flex-direction: row;
        
    }
    /* Nu kommer web*/
    @media only screen and (min-width:900px){    
        .grunde2{
            flex-direction: row;
        }
    }

   
